<section data-ng-controller="TokensController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="token.account"></h1>
	</div>
	<div class="pull-right" data-ng-show="1 == 1">
		<a class="btn btn-primary" href="/#!/tokens/{{token._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="token.created | date:'mediumDate'"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="token.device"></p>
</section>
